html{
  color:#000000;
  background-color: #6B8E23;
}
header{
background-color: #6B8E23;
}

nav> ul{
  background-color:#556B2F;
  top: 300px;

}

body{
  background-color:#556B2F;

}

nav>ul>li>ul>li{
    display:inline-block;
    text-align: center;
    top: 300px;
}


nav ul li a + * {
  display: none;
}


nav ul li a:hover + * {
  display: block;
  color:#FF0000;
  position: absolute;

}

nav ul li a + *:hover  {
  display: block;
  color:#FF0000;
  position: absolute;
}

li{
  display: inline-block !important;
}

#rca{
    display: block;
    width: 1200px;
    height: 800px;
    background-color:#556B2F;

}

.decouvrez{
    position: absolute;
    left: 539px;
    top: 600px;
    color: #ffffff;
    background-color: transparent;
}
